.homeVideos {
	flex: 0.8;
	background-color: #f9f9f9;
	padding: 40px 20px;
	padding-bottom: 0;
}

.homeVideos > h2 {
	margin-left: 5px;
	margin-bottom: 20px;
}

.homeVideoItem {
	display: flex;
	flex-wrap: wrap;
}
@media (max-width: 768px) {
	.homeVideos {
		flex: 1;
	}
}
